@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Gentium+Book+Plus&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

$color1:black;
$color2:yellow;
$color3:white;
$color4:gold;

$widthimg:200px;
$sizeh1: 100px;
$sizeh2:25px;

$fonttitle:'Gentium Book Plus',
serif;
$fontp:'Open Sans',
sans-serif;

* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: $color1 !important;


}

.navbar-brand {
    font-family: $fonttitle;
}



.nav-link {
    font-size: large;
    @extend .hover;
    font-family: $fontp;

}

span {
    color: $color2;
}

.banner {
    background-image: url(../img/cine.jpg);
    background-color: $color1;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: animacionbanner 2s forwards;
}

@keyframes animacionbanner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.banresenas {
    @extend .banner;
    background-image: url(../img/Reseña.jpg);
    display: flex;


}

.bannerdocumental {
    @extend .banner;
    background-image: url(../img/doumental.jpg)
}

.bannerserie {
    @extend .banner;
    background-image: url(../img/reseñaserie.jpg);
}

.color {
    color: $color2;
}



.container {
    background-color: $color1;
    margin-top: 10px;

}

section {


    img {
        width: $widthimg;


    }

    p {
        color: $color2;
        font-size: xx-large;
        font-family: $fontp;
    }

    h2 {
        color: $color3;
        font-family: $fonttitle;
    }

    h1 {
        font-family: $fonttitle;
        color: $color1;
        font-size: $sizeh1;
        text-shadow: black;


    }
}

main{
    img {
        width: $widthimg;


    }

    p {
        color: $color2;
        font-size: xx-large;
        font-family: $fontp;
    }

    h2 {
        color: $color3;
        font-family: $fonttitle;
    }

    h1 {
        font-family: $fonttitle;
        color: $color1;
        font-size: $sizeh1;
        text-shadow: black;


    }
}
.navbar-brand {
    font-size: $sizeh2;

}

footer {
    @extend .container;
    color: $color2;
    text-align: center;
    display: flex;
    justify-content: center;

    p {
        font-family: $fontp;

    }

    span {
        color: $color3;
    }

    i {
        font-size: 50px;
        color: $color2;
        cursor: pointer;


    }
}

.margin {
    margin-top: 10px;
}

.flexible {
    display: flex;
    align-items: center
}



.bannerserie {
    @extend .banner;
    background-image: url(../img/reseñaserie.jpg);
}

.btn {
    color: $color3;
    font-size: &$sizeh2;


}

.hover:hover {
    background-color: $color2;
    color: black;

}

.fondocont {
    background-image: url(../img/imgpochccont.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: grid;
    font-family: $fontp;

    input::placeholder {
        font-weight: bold;
        opacity: 0, 5;
        color: black;


    }

    legend {
        font-family: $fonttitle;
    }
}

i:hover {
    transform: scale(1.1);
    color: #333;
}

.breadcrumb {
    background-color: $color3;
    margin-top: 30px;

    p {
        color: $color1;
        font-family: $fontp;
        font-size: 20px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 8px;
        padding: 0;
        margin: 0;
    }

    i {
        font-size: 22px;
    }

}

.fa-house {
    color: $color2;
}

.fa-star {
    color: $color4;
}

.stars {
    margin-top: 3px;
}

div {
    h1 {
        text-align: center;
        font-family: $fonttitle;
        color: $color2;
        text-shadow: 2px 2px black;
    }
}



@media (min-width: 320px) and (max-width:480px) {
    section {
        p {
            font-size: 10px;
            text-shadow: 2px 2px black;

        }
    }

    div {
        img {
            width: 90px;
        }
    }
}


@media (min-width: 480px) and (max-width:770px) {
    section {
        p {
            font-size: 15px;
            text-shadow: 2px 2px black;

        }
    }

    div {
        img {
            width: 100px;
        }
    }
}

@media (min-width: 770px) and (max-width:1020px) {
    section {
        p {
            font-size: 20px;
            text-shadow: 2px 2px black;

        }
    }

    div {
        img {
            width: 150px;
        }
    }
}


@media (min-width: 1020px) and (max-width:1200px) {
    section {
        p {
            font-size: 30px;
            text-shadow: 2px 2px black;

        }
    }

    div {
        img {
            width: 200px;
        }
    }
}

@media (min-width:320px) and (max-width:379px){
    .tamaño{
        font-size:50px ;
    }
}

@media (min-width:380px) and (max-width:600px){
    .tamaño{
        font-size: 60px;
    }
}

