



$color1:black;
$color2:yellow;
$color3:white;

$widthimg:200px;
$sizeh1: 100px;
$sizeh2:25px;

$fonttitle: font-family 'Gentium Book Plus',
serif;

* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: $color1 !important;


}



.nav-link {
    font-size: large;
    @extend .hover;
    
}

h1 {
    font-family: $fonttitle;
    color: $color1;
    font-size: $sizeh1;
    text-shadow: black;
}

span {
    color: $color2;
}

.banner {
    background-image: url(../img/cine.jpg);
    background-color: $color1;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: animacionbanner 3s forwards;
}

@keyframes animacionbanner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.banresenas {
    @extend .banner;
    background-image: url(../img/Reseña.jpg);


}

.bannerserie {
    @extend .banner;
    background-image: url(../img/reseñaserie.jpg);
}

.color {
    color: $color2;
}



.container {
    background-color: $color1;
    margin-top: 10px;

}

section {
    img {
        width: $widthimg;


    }

    p {
        color: $color2;
        font-size: xx-large;
    }

    h2 {
        color: $color3;
    }
}

.navbar-brand {
    font-size: $sizeh2;

}

footer {
    @extend .container;
    color: yellow;
    text-align: center;
}

.flexible {
    display: flex;
    align-items: center
}



.bannerserie {
    @extend .banner;
    background-image: url(../img/reseñaserie.jpg);
}

.btn{
    color: white;
    font-size: &$sizeh2;
    

}

.hover:hover{
    background-color: yellow;
    color: black;

}

form{
    display: grid;
    input::placeholder{
        font-weight: bold;
    opacity: 0, 5;
    color: black;
    
        
    }
}